Fiona==1.4.8
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.6.1
PySAL==1.8.0
Shapely==1.4.4
basemap==1.0.8
click==3.3
descartes==1.0.1
folium==0.1.2
gnureadline==6.3.3
jupyter[all]
lxml==3.4.0
matplotlib==1.4.2
mock==1.0.1
git+git://github.com/matplotlib/natgrid/@master
numpy==1.9.1
pandas==0.15.1
patsy==0.3.0
pyparsing==2.0.3
pyproj==1.9.3
python-dateutil==2.2
pytz==2014.9
pyzmq==14.4.1
requests[security]
scipy==0.14.0
six==1.8.0
statsmodels==0.6.0
tornado==4.0.2
wsgiref==0.1.2
