Fiona==1.0.2
GDAL==1.11.0
Jinja2==2.7.2
MarkupSafe==0.19
PySAL==1.6.0
PyYAML==3.11
Rtree==0.8.0
SQLAlchemy==0.9.4
Shapely==1.2.18
basemap==1.0.7
beautifulsoup4==4.3.2
dbf==0.95.012
descartes==1.0
ecdsa==0.11
enum34==1.0
folium==0.1.2
# this may cause problems, open an issue if need be
geopandas==0.1.0.dev-6d2dfbf
ipython==2.1.0
lxml==3.2.3
matplotlib==1.4.x
mock==1.0.1
nose==1.3.0
numpy==1.8.0
pandas==0.14.1
paramiko==1.13.0
pyaml==13.12.0
pycrypto==2.6.1
pyparsing==2.0.1
pyproj==1.9.3
pyshp==1.2.1
python-dateutil==2.2
pytz==2014.4
pyzmq==13.1.0
readline==6.2.4.1
requests==2.0.0
scipy==0.14.0
six==1.7.3
tornado==3.1.1
wsgiref==0.1.2
