Fiona
Jinja2
MarkupSafe
Pillow
PySAL
Shapely
basemap
click
descartes
folium
gnureadline
jupyter
lxml
matplotlib
mock
numpy
pandas
patsy
pyparsing
pyproj
python-dateutil
pytz
pyzmq
requests[security]
scipy
six
statsmodels
tornado
wsgiref
